// .button .icon {
//     font-size: 1.5em;
// }

// .top-navigation-main .icon {
//     font-size: 1.25em;
// }

.icon-login {
    color: hsl(120, 100%, 30%);
}

.icon-app_registration {
    color: hsl(214, 100%, 70%);
}

.icon-language {
    color: hsl(51, 30%, 50%);
}

.icon-light_mode {
    color: hsl(56, 100%, 45%);
}

.icon-dark_mode {
    color: hsl(0, 0%, 60%);
}
