$theme-light-text-primary: hsl(0, 0%, 0%);
$theme-light-text-secondary: hsl(0, 0%, 30%);
$theme-light-text-link: hsl(240, 100%, 73%);
$theme-light-background-primary: hsl(0, 0%, 100%);
$theme-light-background-secondary: hsl(0, 0%, 95%);
$theme-light-border-primary: hsl(0, 0%, 80%);
$theme-light-border-secondary: hsl(0, 0%, 88%);
$theme-light-icon-primary: hsl(0, 0%, 0%);
$theme-light-button-background-hover: hsl(0, 0%, 80%);
$theme-light-logo-primary: hsla(221, 43%, 47%, 1);
$theme-light-logo-secondary: hsla(224, 74%, 70%, 1);
$theme-light-logo-underscore: hsla(0, 0%, 0%, 0.7);
$theme-light-link-primary: hsl(224, 100%, 50%);
$theme-light-link-visited-primary: hsl(224, 43%, 50%);
$theme-light-link-hover-primary: hsl(224, 100%, 70%);
$theme-light-border-form: hsl(0, 0%, 90%);
$theme-light-canvas-form: hsla(0, 0%, 50%, 0.07);
$theme-light-border-notice: hsl(120, 25%, 75%);
$theme-light-canvas-notice: hsla(120, 25%, 55%, 0.1);
$theme-light-border-error: hsl(0, 79%, 75%);
$theme-light-canvas-error: hsla(0, 79%, 69%, 0.1);

$theme-dark-text-primary: hsl(0, 0%, 100%);
$theme-dark-text-secondary: hsl(0, 0%, 93%);
$theme-dark-text-link: hsl(240, 100%, 73%);
$theme-dark-background-primary: hsl(0, 0%, 0%);
$theme-dark-background-secondary: hsl(0, 0%, 20%);
$theme-dark-border-primary: hsl(0, 0%, 61%);
$theme-dark-border-secondary: hsl(0, 0%, 40%);
$theme-dark-icon-primary: hsl(0, 0%, 100%);
$theme-dark-button-background-hover: hsl(0, 0%, 47%);
$theme-dark-logo-primary: hsla(221, 43%, 47%, 1);
$theme-dark-logo-secondary: hsla(224, 74%, 70%, 1);
$theme-dark-logo-underscore: hsla(0, 0%, 100%, 1);
$theme-dark-link-primary: hsl(224, 100%, 70%);
$theme-dark-link-visited-primary: hsl(224, 43%, 50%);
$theme-dark-link-hover-primary: hsl(224, 100%, 80%);
$theme-dark-border-form: hsl(0, 0%, 27%);
$theme-dark-canvas-form: hsla(0, 0%, 50%, 0.27);
$theme-dark-border-notice: hsl(120, 25%, 25%);
$theme-dark-canvas-notice: hsla(120, 25%, 55%, 0.3);
$theme-dark-border-error: hsl(0, 79%, 25%);
$theme-dark-canvas-error: hsla(0, 79%, 69%, 0.3);

// $theme-light-logo-underscore: hsla(221, 43%, 47%, 0.7);
